* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout-header {
    display: flex;
}

.layout-header-text-wrapper {
    display: flex;
    margin-left: 144px;
    margin-right: 24px;
    align-items: center;
}

.layout-header-image {
    width: 154px;
    height: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 24px;
}

.layout-header-text {
    margin-right: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700px;
    font-size: 14px;
    line-height: 16px;
}

.contato {
    padding: 8px 24px;
    border: 1px solid #3C9ECD;
    border-radius: 30px;
    background-color: #3C9ECD;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.layout-main-upper-background {
    position: absolute;
}

.layout-main-upper-image {
    position: relative;
    top: 66px;
    left: 362px;
    right: 28px;
    margin-bottom: 40px;    
}

.layout-main-upper-text {
    position: relative;
    width: 274px;
    height: 90px;
    left: 51px;
    bottom: 234px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
}

.layout-paragraph {
    width: 541px;
    height: 213px;
    margin-left: 46px;
    margin-right: 54px;
    margin-bottom: 44px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #313131;
}

.layout-images {
    margin-bottom: 100px;
}

.layout-images-1 {
    position: absolute;
    width: 258px;
    height: 178px;
    margin-left: 58px;
    border: 1px solid black;
}

.layout-images-2 {
    position: relative;
    width: 244px;
    height: 276px;
    left: 335px;
    top: 34px;
    z-index: 1;
    border: 1px solid black;
}

.layout-images-3 {
    position: relative;
    width: 278px;
    height: 148px;
    border: 1px solid black;
    top: 70px;
    right: 160px;
}

.layout-main-lower {
    margin-top: 44px;
    width: 640px;
    height: 258px;
    background-color: #F6F6F6;
    ;
}

.layout-main-lower-ola {
    position: relative;
    left: 310px;
    margin-bottom: 8px;
    font-family: Encode Sans;
    font-weight: 700px;
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    color: #00C8FF;
}

.layout-main-lower-numero {
    position: relative;
    left: 310px;
    margin-bottom: 8px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #838383;
}

.layout-main-lower-email {
    position: relative;
    left: 310px;
    margin-bottom: 32px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    color: #838383;
    }

.layout-main-lower-localizacao {
    position: relative;
    left: 310px;
    margin-bottom: 8px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #838383;
}

.layout-main-lower-paragraph {
    position: relative;
    left: 310px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #838383;
}

.layout-main-lower-m3-logo {
    position: relative;
    left: 74px;
    top: 112px;
}

.layout-lower-div {
    margin-left: 94px;
    margin-top: 24px;
    margin-bottom: 30px;
}

.layout-lower-div-e-commerce {
    margin-right: 70px;
}

.layout-footer {
    height: 66px;
    background-color: #313131;
}

.layout-footer-logos {
    margin-left: 490px;
}

.layout-footer-logo {
    margin-right: 24px;
}

.layout-footer-site {
    position: relative;
    left: 40px;
    top: 24px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: lowercase;
    color: #FFFFFF;
}


@media screen and (max-width: 500px) {
    .layout-header-text-wrapper {
        margin-left: -100px;
        margin-top: 54px;
        margin-bottom: 8px;
    }

    .layout-header-image {
        margin-left: 20px;
    }

    .layout-header-text {
        margin-right: 10px;

    }

    .layout-main-upper-text {
        font-size: 22px;
        bottom: 340px;
        left: 64px;
        width: 300px;
    }

    .layout-main-upper-image {
        left: 120px;
    }

    .layout-paragraph {
        margin-left: 39px;
        font-size: 12px;
        width: 300px;
        margin-bottom: 76px;
    }

    .layout-images {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    .layout-images-1 {
        position: static;
    }

    .layout-images-2 {
        position: static;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 58px;
    }

    .layout-images-3 {
        position: static;
        margin-top: 10;
        margin-left: 58px;
    }

    .layout-main-lower {
        max-width: 640px;
    }

    .layout-main-lower-text {
        margin-left: 100px;
    }

    .layout-main-lower-ola {
        position: revert;
        margin-left: 46px;
    }

    .layout-main-lower-numero {
        position: revert;
    }

    .layout-main-lower-email {
        position: revert;
    }

    .layout-main-lower-localizacao {
        position: revert;
    }

    .layout-main-lower-paragraph {
        position: revert;
    }

    .layout-main-lower-m3-logo {
        position: revert;
        margin-top: 20px;
        margin-left: 100px;
    }

    .layout-lower-div {
        display: grid;
        margin-left: 0;
        justify-items: start;
        justify-content: center;
    }

    .layout-lower-div-e-commerce {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .layout-footer-logos {
        margin-left: 220px;
        display: flex;
        justify-content: center;
    }


}
